.navbar {
  background-color: #FFFFFF;
  transition: background-color 0.3s ease-in-out;
}

.navbar-menu-open {
  background-color: #E6E0F4;
  transition: background-color 0.3s ease-in-out;
}


  
  .pricing-button {
    border-radius: 50px 50px 50px 50px;
    color: black;
    font-size: 16px;
  }
  

  .contact-sales-button{
    font-size: 16px;
    color: "black";
    margin-right: "5px";
  }