.scrolling-container {
    overflow: hidden;
    width: 500px; 
  }

  .centered-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
  }

    @keyframes scrollAnimation {
        from {
        transform: translateX(100%);
        }
        to {
        transform: translateX(-100%);
        }
    }
    